Source: wasta-multidesktop-focal
Section: utils
Priority: optional
Maintainer: Rik Shaw <rikshaw76@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 4.4.0
Homepage: https://github.com/wasta-linux/wasta-multidesktop-focal

Package: wasta-multidesktop-focal
Architecture: all
Depends: arc-theme, at, gawk, jq, papirus-icon-theme, rename, slick-greeter, wasta-app-tweaks, wasta-backgrounds, wasta-core-focal, wasta-resources, wmctrl, xmlstarlet, ${misc:Depends}
Recommends: arc-solid-theme, papirus-folders, wasta-papirus, wasta-vertex-ubuntu
Description: Wasta-Linux MultiDesktop
 Ensures cross-desktop compatibility between different desktop sessions.
 A lightdm script is executed on login to make necessary adjustments based
 on detected session in comparison to previously detected session.
 .
 Currently only GNOME, Cinnamon, and XFCE are supported.
